/*******************************************************************************
 * Admin Screen
 * admin/config/search/drank
*******************************************************************************/

#edit-drank-metrics fieldset {
  position: relative;
}
#edit-drank-metrics fieldset.metric-disabled {
  opacity: 0.5;
}
#edit-drank-metrics fieldset.metric-disabled .fieldset-legend:after {
  content: ' (disabled)';
}

#edit-drank-config label[style="display: none;"],
#edit-drank-metrics label[style="display: none;"] {
  display: block !important;
}


/**
 * Drank Preview Form.
 */

#drank-preview fieldset .fieldset-wrapper,
#drank-preview fieldset .fieldset-wrapper p {
  padding: 0;
  margin-top: 0;
}
#drank-preview ul.horizontal-tabs-list li a {
  padding: 0.7em 1.1em 0.6em 1.1em;
}

/**
 * Drank Preview Table
 */

/* Rank column. */
#drank-preview table tbody tr th.rank {
  background: inherit;
}
#drank-preview table tbody tr:not(:last-child) th.rank {
  border-bottom-color: transparent;
}
/* Score colors. */
#drank-preview table tbody tr td.score.high {
  color: green;
}
#drank-preview table tbody tr td.score.low {
  color: #aa3f3f;
}
#drank-preview table tbody tr td.score.no-data {
  color: #aaa;
}
/* Score contribution. */
#drank-preview table tbody tr td.score .score-contrib {
  float: right;
  color: #666;
  visibility: hidden;
}
#drank-preview table tbody tr td.score:hover {
  cursor: pointer;
  position: relative;
}
#drank-preview table tbody tr td.score:hover .score-contrib {
  visibility: visible;
}
/* Average score contribution. */
#drank-preview table tbody tr th.footer {
  position: relative;
}
#drank-preview table tbody tr th.footer .score-contrib {
  float: right;
}
#drank-preview table tbody tr td.score:hover .score-contrib:before,
#drank-preview table tbody tr th.footer .score-contrib:before {
  content: '/';
  position: absolute;
  left: 50%;
  color: #aaa;
  font-weight: bold;
}
